<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h2><a href="{{ url_for('mostrar_todo') }}">Resetea los comentarios</a></h2>
<hr/>
  {% for mensaje in get_flashed_messages() %}
    {{ mensaje }}
  {% endfor %}
<h3>Lista de Super (<a href="{{ url_for('nuevo') }}">Agregar Productos</a>)</h3>

<ul>
{% for super in supers %}
    <li>
         <HR width="80%">
        Producto: {% if super.listo %} <strike> {% endif %}{{ super.content }} {% if super.listo %} </strike>{% endif %}

        <br>
        <br>
      <td>El precio: {{ super.precio }}</td>
        <br>
        <a href="/listo/{{ super.id }}">Tachar</a>
        <a href="/delete/{{ super.id }}">Borrar</a>
    </li>
{% endfor %}
</ul>


<form action="/super" method="post">
    <p><input type="text" name="content" placeholder="Producto"></p>
    <p><input type="text" name="precio" placeholder="Precio"></p>
    <input type="submit" value="Agregar Producto">
</form>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>supermercado</th>
        <th>producto</th>
        <th>Pin</th>
    </tr>
    </thead>
    <tbody>
    {% for productos in listasuper %}
    <tr>
        <td>{{ productos.nombre }}</td>
        <td>{{ productos.supermercado }}</td>
        <td>{{ productos.producto }}</td>
        <td>{{ productos.pin }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>